:root {
  --mf-primary-color: #fcb800;
  --mf-dark-color: #000;
  --mf-light-color: #fff;
  --mf-gray-color: #666;
  --mf-background-primary-color: #fcb800;
  --mf-background-primary-text-color: #000;
  --mf-background-light-color: #fff;
  --mf-border-primary-color: #fcb800;

  --woocommerce: #7f54b3;
  --wc-green: #7ad03a;
  --wc-red: #a00;
  --wc-orange: #ffba00;
  --wc-blue: #2ea2cc;
  --wc-primary: #7f54b3;
  --wc-primary-text: white;
  --wc-secondary: #e9e6ed;
  --wc-secondary-text: #515151;
  --wc-highlight: #b3af54;
  --wc-highligh-text: white;
  --wc-content-bg: #fff;
  --wc-subtext: #767676;
}
.h1 {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}

.dk {
  color: var(--mf-gray-color);
  font-size: 30px;
}
.dn {
  font-size: 30px;
}
.f {
    background-color:#fff;
    border-color: #e8e8e8;
     border-radius: 5px;
    border-style:solid border-width 1px;
    color: #666;
    font-size: 14px;
}
